[#object[com.cognitect.transit.impl.TaggedValueImpl 0x7159a5cd "com.cognitect.transit.impl.TaggedValueImpl@f023ef7c"] #object[com.cognitect.transit.impl.TaggedValueImpl 0x4f966719 "com.cognitect.transit.impl.TaggedValueImpl@54133e58"]]